<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer__item col-sm-12 col-md-4 col-lg-3">
        <div class="max-content d-flex flex-column align-items-center">
          <i class="icon logo-big"></i>
          <a class="footer__app m-t-25" href="/appstore"
            ><i class="icon appstore"></i
          ></a>
          <a class="footer__app m-t-15" href="/playmarket"
            ><i class="icon playmarket"></i
          ></a>
        </div>
      </div>
      <div class="footer__item col-sm-12 col-md-4 col-lg-2">
        <div class="font-weight-bold f-c-white m-t-10">О нас</div>
        <ul class="list-unstyled">
          <li><a href="#" class="f-c-white f-s-14">Наша команда</a></li>
          <li><a href="#" class="f-c-white f-s-14">Партнерам</a></li>
          <li><a href="#" class="f-c-white f-s-14">Контакты</a></li>
        </ul>
      </div>
      <div class="footer__item col-sm-12 col-md-4 col-lg-3">
        <div class="font-weight-bold f-c-white m-t-10">О проекте</div>
        <ul class="list-unstyled">
          <li><a href="#" class="f-c-white f-s-14">Наши цели</a></li>
          <li><a href="#" class="f-c-white f-s-14">Как это работает</a></li>
          <li><a href="#" class="f-c-white f-s-14">Публичная оферта</a></li>
        </ul>
      </div>
      <div class="footer__item col-sm-12 col-md-6 col-lg-2">
        <div class="font-weight-bold f-c-white m-t-10">Партнеры:</div>
        <i class="icon astana-hub-logo m-t-30"></i>
        <i class="icon flatfy-logo m-t-20"></i>
      </div>
      <div class="footer__item col-sm-12 col-md-6 col-lg-2">
        <div class="font-weight-bold f-c-white m-t-10">Контакты:</div>
        <ul class="list-unstyled">
          <li><a href="#" class="f-c-white f-s-14">+7 (701) 090 64-64</a></li>
          <li><a href="#" class="f-c-white f-s-14">info@pillowz.kz</a></li>
        </ul>
        <div class="font-weight-bold f-c-white">Подписывайтесь:</div>
        <div class="d-flex justify-content-between m-t-10">
          <a class="footer__soc" href="#"><i class="icon vk"></i></a>
          <a class="footer__soc" href="#"><i class="icon instagram"></i></a>
          <a class="footer__soc" href="#"><i class="icon facebook"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
