<div class="profile-main">
  <div
    class="profile-main__item d-flex justify-content-between align-items-center"
  >
    <div class="profile-main__name font-weight-bold f-s-18">
      Billbrat <i class="icon tick"></i>
    </div>
    <div class="f-c-gray-300 f-s-14">онлайн</div>
  </div>
  <div class="profile-main__item">
    <div class="font-weight-bold">Обо мне</div>
    <div class="m-t-20">
      Hi there. Welcome to my home. I enjoy meeting people from all over the
      world and I enjoy showing others why I love living in Central London. All
      the museums and art galleries are just a walk or ride away from me and
      Camden Lock is 8
    </div>
  </div>
  <div class="profile-main__item">
    <div class="f-w-semibold">Город</div>
    <div class="m-t-20">
      Алматы, Казахстан
    </div>
  </div>
  <div class="profile-main__item">
    <div class="f-w-semibold">Владение языками</div>
    <div class="m-t-20">
      Казахский, Русский, Английский
    </div>
  </div>
</div>
