<div class="nav"></div>
<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <app-profile-short></app-profile-short>
      </div>
      <div class="col-sm-12 col-md-8">
        <app-profile-main></app-profile-main>
        <h2 class="m-t-30 f-s-18 font-weight-bold">Витрина объектов</h2>
        <div class="apart-list m-t-30 row">
          <div class="col-sm-12 col-xl-6" *ngFor="let appart of apparts">
            <app-appart-card [data]="appart"></app-appart-card>
          </div>
        </div>
        <div class="text-center">
          <button class="show-more btn primary m-t-30">Показать еще</button>
        </div>
        <h2 class="m-t-30 f-s-18 font-weight-bold">Отзывы</h2>
        <app-reviews></app-reviews>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
