<div class="profile-short">
  <div class="profile-short__main">
    <div class="profile-short__avatar">
      <img src="../../../assets/avatar.png" />
    </div>
    <div class="profile-short__name font-weight-bold f-s-18">Billbrat <i class="icon tick"></i></div>
  </div>
  <div class="profile-short__additional f-s-14">
    <div class="profile-short__additional-item f-c-primary">
      <i class="icon wreath"></i><span>Рекомендуют 80% гостей</span>
    </div>
    <div class="profile-short__additional-item">
      <i class="icon mail"></i
      ><span>Среднее время ответа — <span class="f-c-green">30 мин</span></span>
    </div>
  </div>
  <button class="btn primary">Редактировать</button>
</div>
