@import "styles/variables";
@import "styles/icons";
@import "styles/font";
@import "styles/button";
@import "styles/indentation";
@import "styles/sizes";
@import "styles/media";

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: $dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
